.active {
    font-weight: bold;
}

.mainNav {
    margin: 0 auto;
    padding: 1em 3em;
    position: relative;
    text-align: center;
}

nav {
    width: 100%;
}

.mainNav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    text-decoration: none;
}

.mainNav a:nth-child(2) {
    margin: 0 20%;
}

a:hover{
    color: #541F3D !important;
}

section {
    display: block;
}

input {
    width: 35%;
}
