<filters></filters>
<div class="articleCollection">
    {{articleSearch}}
    <a class="articleHyperlink" *ngFor="let article of articles" [routerLink]="['/article', article.id]">
        <span class="articlePreview">
            <span class="article-header-details">
                <p>{{article.status}}</p>
                <time>{{article.date}}</time>
            </span>
            <h2>{{article.title}}</h2>
            <p>{{article.intro}}</p>
            <span class="article-tags">
                Keywords: {{article.tags}}, {{article.region}}, {{article.country}}
                <img *ngIf="article.hasComments === true" class="article-comments-img" src="assets/img/comment.png" alt="view comments" />
                <span *ngIf="article.hasComments === false" class="no-comments">No Comments</span>
            </span>
        </span>
    </a>
</div>